body{
    display: flex;
}
#section1{
    height: 100vh;
    width: 40%;
    font-size: 2vw;
}
figure{
    display: flex;
    margin-left: 6px;
}
figcaption{
    margin-top: 10px;
    font-size: 90%;
}
#section2 h1{
    3vw
}
#section2 h2{
    font-size: 2vw           ;
}
#section1{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 3vw;
    justify-content: space-between;
    height:auto;
    background-color: gray;
}
#moment{
    font-size: x-small;
}
#section2{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 3vw;
    justify-content: space-between;
}
@media screen and (min-width: 1000px)
{
    body{
        display: flex;

    }
    #section1{
        height: 100vh;
        width: 40%;
        font-size: 2vw;
        border-bottom-left-radius: 15px;
    }
    figure{
        display: flex;
        margin-left: 6px;
    }
    figcaption{
        margin-top: 10px;
        font-size: 90%;
    }
    #section2 h1{
        3vw
    }
    #section2 h2{
        font-size: 2vw           ;
    }
    #section1{
        display: flex;
        flex-direction: column;
        width: 1000px;
        font-size: 20px;
        height:auto;
        background-color: gray;
    }
    #moment{
        font-size: x-small;
    }
    #section2{
        display: flex;
        flex-direction: column;
        width: 1000px;
        font-size: 20px;
    }
}